$font-family-base: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-size-base: 0.9rem;

.text-display {
    font-family: 'Gugi', cursive;
}

.navbar-brand {
    border-radius: 2rem;
    a {
        text-decoration: none !important;
    }
}
