// Generic
$enable-shadows: true;
$border-radius: 14px;
$border-radius-sm: 10px;

// Typo
$navbar-brand-font-size: 2rem;

// Tables
$table-head-color: darken($text-muted,10%);

// Forms
$input-box-shadow: none;
$input-border-radius-lg: 36px;
$input-border-radius-sm: 24px;
$input-placeholder-color: #cdcdcd;
$input-padding-y-lg: .5rem;
$input-line-height-lg: 2;

$input-group-addon-bg: transparent;

// Cards
$card-border-radius: 0;
$card-columns-count: 4;
$card-border-width: 0;
$card-img-overlay-padding: 0;

// Dropdowns
$dropdown-box-shadow: $box-shadow-lg;
$dropdown-border-radius: $border-radius-sm;
$dropdown-padding-y: 10px;

// Progress
$progress-box-shadow: none;

// Buttons
$btn-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-xl-multiplier: 1.1;
$btn-border-radius: 32px;
$btn-border-radius-lg: $btn-border-radius;
$input-btn-line-height-lg: 2;

// Modals
$modal-header-border-color: darken(rgb(0, 59, 104), 5%);
